<h1>About Brewmaster</h1>

<p>Brewmaster is a one-stop resource and log for home beer brewers.</p>
</br>

<p>Brewmaster helps you track recipes, ingredients, and equipment - and where you got them from!</p>
<p>Brewmaster organizes your brewing day and helps you log exactly what you're doing.</p>
<p>Brewmaster tracks your tasting notes.</p>
</br>
<p>The bottom line: Brewmaster helps you brew better beer, more consistently, with less hassle and more fun!</p>

</br>
<p><%= link_to "Return to Main Menu", :action => "index" %></p>
