<h1>Credits</h1>
<h2>Brewmaster is Copyright (C) 2012, all rights reserved.</h2>

<p>Brewmaster uses Ruby on Rails</p>
</br>

<p>Design and Development: John C. Feltz</p>
<p>Beta Test: Tagg Madden, Louis </p>
<p>Artwork and Graphic Design: </p>

</br>
<p><%= link_to "Return to Main Menu", :action => "index" %></p>
